<!DOCTYPE html>

<html>
    <head>
        <title>
            Esecrazione dell'eloquio
        </title>
    </head>

    <body>
        <form method="post">
            <h3>
                Pagina di accesso
            </h3>
            <div>
                <label>
                    Nome utente
                    <input type="password" name="username" value="{{username}}">
                </label>
                {{uerr}}
            </div>
            <br>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>
