<form method="post">
    <h2>
        Sign up
    </h2>
    <div>
        <label>
            Username
            <input type="text" name="username" value="{{username}}">
        </label>
        {{uerr}}
    </div>
    <br>

    <div>
        <label>
            Password
            <input type="password" name="password">
        </label>
        {{perr}}
    </div>
    <br>

    <label>
        Verify password
        <input type="password" name="verify">
    </label>
    <br> <br>

    <div>
        <label>
            Email (optional)
            <input type="text" name="email" value="{{email}}">
        </label>
        {{eerr}}
    </div>
    <br> <br>
    <input type="submit">
</form>
